.container {
  margin: 2rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.container li {
  width: 50vw;
  background-color: var(--bg-200);
  border-radius: var(--border-radius-20);
  box-shadow: var(--box-shadow-basic);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.container li:hover {
  transform: translateY(-1px);
  box-shadow: var(--box-shadow-hover);
}

.emptyBucketList {
  color: var(--bg-300);
}