.todoListContainer {
  width: 100%;
  margin: 0 auto;
  padding: var(--padding-small);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--primary-200);
  border-radius: var(--border-radius-20);
  box-shadow: var(--box-shadow-basic);
  box-sizing: border-box;
}

.todoListContainer .todoList li {
  margin-bottom: var(--margin-small);
}

.todoListContainer .createButton {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: var(--bg-200);
  border-radius: 50%;
  font-size: var(--font-size-18);
  transition: var(--transition-3);
}

.todoListContainer .createButton:hover {
  box-shadow: var(--box-shadow-hover);
}
